body {
    height: 100vh;
}

.card {
    box-shadow: 8px 8px hsl(0, 0%, 0%);
    min-width: 90%;
}

.btn {
    box-shadow: 4px 4px hsl(0, 0%, 0%);
    transition: all .4s;
}

.btn:hover {
    background-color: hsl(354, 60%, 48%);
    box-shadow: none;
}

.link {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    text-decoration: none;
}
